<h1>To Do List</h1>
<form action="/items" method="post">
  <label for="new-item">Add a new item</label>
  <input id="new-item" name="new-item" type="text">
  <button type="submit">Submit</button>
</form>
