<h1>To Do List</h1>
<ul>
  @foreach(var item in Model)
  {
    <li>@item.GetDescription()</li>
  }
</ul>
<p><a href="/items/new">Add another item</a></p>
<form action="/items/delete" method="post">
  <button type="submit" name="button">Clear All Items</button>
</form>
